body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e7ff; /* Cinza claro com leve tom de azul */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #2c3e50; /* Cinza escuro com leve tom de azul */
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  color: #3498db; /* Título com um tom de azul claro (você pode alterar conforme preferência) */
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ecf0f1; /* Cor de input mais clara */
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3498db; /* Cor do botão com azul claro */
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9; /* Efeito hover no botão */
}

p {
  color: #ecf0f1;
  margin-top: 10px;
}

p button {
  background: none;
  border: none;
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}
